/var/log/tomcat/catalina.out
/var/log/tomcat/catalina.log
/var/log/tomcat/host-manager.log
/var/log/tomcat/localhost_access.log
/var/log/tomcat/localhost.log
/var/log/tomcat/manager.log
{
	copytruncate
	size 5M
	rotate 10
	missingok
	notifempty
}
